<nav class="navbar navbar-default" ng-controller="NavCtrl as vm" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/login">למסירה</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="rtl" ng-hide="vm.isAuthenticated"><a href="#/login">התחבר</a></li>
            <li class="rtl" ng-hide="vm.isAuthenticated"><a href="#/register">הירשם</a></li>

                <li class="rtl" ng-show="vm.isAuthenticated"><a href="#/home">דף הבית</a></li>
                <li class="rtl" ng-show="vm.isAuthenticated" class="dropdown">
                <a class="rtl" href="" class="dropdown-toggle" data-toggle="dropdown">פעולה <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/thing">הוסף פריט</a></li>
                </ul>
            </li>
            <li ng-show="vm.isAuthenticated"><a href="" ng-click="vm.logout()">התנתק</a></li>
        </ul>
    <div ng-include src="'partials/auth/search.html'"></div>
    </div><!-- /.navbar-collapse -->
</nav>