.jumbotron {
    direction: rtl;
}
.navbar-nav {
    float: right;
}

.navbar-header {
    float: right;
}

.rtl {
    float: right;
    direction: rtl;
}

/* Override bootstrap navbar > li float left */
.navbar-nav > li.rtl {
    float: right;
    direction: rtl;
}

.panel-heading {
    direction: rtl;
}

.table-condensed {
    direction: rtl;
}