<td class="text-center" ng-hide="thing.modify">{{thing.name}}</td>
<td class="text-center" ng-hide="thing.modify">{{thing.size}}</td>
<td class="text-center" ng-hide="thing.modify">{{thing.owner}}</td>
<td class="text-center" ng-hide="thing.modify">
    {{thing.dateAdded}}
    <!-- TODO - doesn't work :( -->
    <span am-time-ago="thing.dateAdded"></span>
</td>
<td class="text-center" ng-hide="thing.modify">
    <button type="button" class="btn btn-primary btn-sm" ng-click="vm.updateThing($index,true)">
        <span class="glyphicon glyphicon-pencil"></span> ערוך
    </button>
</td>
<td class="text-center" ng-hide="thing.modify">
    <button type="button" ng-click="vm.deleteThing($index)" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-trash"></span> מחק
    </button>
</td>
<td class="text-center" ng-show="thing.modify">
    <input type="text" class="form-control" ng-model="thing.name" placeholder="thing.name" required>
</td>
<td class="text-center" ng-show="thing.modify">
    <input type="number" class="form-control" ng-model="thing.size" placeholder="thing.size" required>
</td>
<td class="text-center" ng-show="thing.modify">{{thing.owner}}</td>
<td class="text-center" ng-show="thing.modify">
<td class="text-center" ng-show="thing.modify">
    <button type="button" class="btn btn-primary btn-sm" ng-click="vm.updateThing($index,false)">
        <span class="glyphicon glyphicon-pencil"></span> ערוך
    </button>
</td>
<td class="text-center" ng-show="thing.modify">
    <button ng-disabled="true" type="button" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-trash"></span> מחק
    </button>
</td>