<div class="row" >
    <div class="rtl col-md-7">
        <div ng-click="custom=!custom" class="clickable">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <strong>הוסף פריט</strong>
        </div>
        <div class="panel panel-info" ng-hide="!custom">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <form ng-controller="ThingCtrl as vm" ng-submit="vm.createThing()" role="form" class="form-inline">
                        <fieldset>
                            <legend>צור פריט חדש</legend>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="vm.thing.name" placeholder="הכנס את שם הפריט" required>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" ng-model="vm.thing.size" placeholder="כמה פריטים כאלה יש?" required>
                            </div>
                            <input type="submit" class="btn btn-primary" value="צור פריט"/>
                        </fieldset>
                    </form>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>