<div ng-include src="'partials/nav.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-12">
                    <div ng-include src="'partials/auth/addThing.html'"></div>
                    <hr>
                    <div ng-include src="'partials/auth/thingsList.html'"></div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</div>