<div class="row col-md-7" >
    <div class="rtl col-md-4">
        <div class="">
            <!-- Default panel contents -->
            <div class="panel-heading" ng-click="hidePanel=!hidePanel">
                <input type="text" placeholder="חפש" ng-model="searchText" />
            </div>
        </div>
    </div>
</div>