<div class="row">
    <div class="col-md-12">

        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">פריטים</div>

            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="text-center" width="20%">מה הפריט?</th>
                    <th class="text-center" width="10%">כמות</th>
                    <th class="text-center" width="20%">מי חתום?</th>
                    <th class="text-center" width="20%">מתי נוסף?</th>
                    <th class="text-center" width="20%"><span class="glyphicon glyphicon-pencil"></span></th>
                    <th class="text-center" width="20%"><span class="glyphicon glyphicon-trash"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="thing in vm.things" thing-row></tr>
                </tbody>
            </table>
        </div>
    </div>

</div>