<div ng-include src="'partials/nav.html'"></div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">פריט</div>

                <div class="row">

                    <div class="col-md-10 col-md-offset-1">

                        <form ng-submit="vm.createThing()" role="form" class="form-inline">
                            <fieldset>
                                <legend>צור פריט חדש</legend>
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="vm.thing.name" placeholder="הכנס את שם הפריט" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" ng-model="vm.thing.size" placeholder="כמה פריטים כאלה יש?" required>
                                </div>
                                <input type="submit" class="btn btn-primary" value="צור פריט"/>
                            </fieldset>
                        </form>

                    </div>

                </div>

                <br>
                <br>



            </div>
        </div>

    </div>
</div>